<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Francois+One|Pontano+Sans" rel="stylesheet">

    <link href="{{ site.baseurl }}/{{ site.lightbox_path }}css/lightbox.css" rel="stylesheet">

    <script type="text/javascript">
        function modalOn(thumbnail) {
            console.log(thumbnail.src);
            document.getElementById('lightbox').style.display='inline';
            document.getElementById('lb-image').src = thumbnail.src.replace('_thumb', '');
        }
    </script>

    <script type="text/javascript">
    var http = new XMLHttpRequest();

    http.open("POST", "https://fathomless-castle-35327.herokuapp.com/requests/create", true);
    http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

    console.log("Q");

    http.send();

    </script>

</head>
